* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  line-height: 18px;
}

div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1281px) {


}

#status_div {
  margin-top: 5vh;
  display: inline-flex;
}

#status_label {
  font-size: 3vh;
}

#server_status {
  width: 3vh;
  height: 3vh;
  background-color: #F00;
  margin: 0;
  margin-left: 1vh;
  margin-top: .5vh;
  display: inline-block;
  border-radius: 50%;
  border: .1vh solid #000;
}

#content {
  height: 50vh;
  padding: 1vh;
  background: #FFF;
  border-radius: 5px;
  overflow-y: scroll;
  border: 3px solid rgb(51, 51, 51);
  margin-top: 10px;
}

#content p, p > span {
  font-size: 2vh;
  margin-bottom: 1.5vh;
}

#input {
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  width: 55vh;
  height: 5vh;
}

#status {
  font-size: 2vh;
  width: 15vh;
  display: block;
  float: left;
  margin-top: 15px;
}

#send {
  /* width: 10vh; */
  padding: 1vh;
  font-size: 3vh;
  margin: 2vh;
}

@media (min-width: 320px) and (max-width: 480px) {

  #content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #status {
    width: 10vh;
    margin-top: 2.5vh;
  }

  #input {
    width: 28vh;
    margin-left: 2vh;
    height: 4vh;
    margin-top: 1vh;
    font-size: 2vh;
  }

  div {
    width: 90%;
  }
}